version: '3'

services:
  lingo-pro:
    container_name: lingo-pro
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
